// Use this file to set SASS variables for @edx/paragon
// See _variables.scss in https://github.com/openedx/paragon/blob/master/scss/core/ for reference
$primary: #ee8166;
$primary-light: #d5d5cd;
$text-color: #226471;
$body-bg: #ebeae6;
$modules-banner: #f4f4f2;
